/* Enter your custom styles here */
/*
.sapMGT {
    display: inline-block;
    border-radius: 0.25rem;
    position: relative;
    outline: none;
    box-sizing: border-box;
    background-position: 0;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    vertical-align: top;
    background-color: aliceblue;
} */

.detailsCard{
	border-radius: 1rem;
    border: 1px solid #D8D8D8;	
}

/*card background styling*/
.newCardsColor1 {
    background: #E8F8F5 !important;
}
.newCardsColor2 {
    background:  #D8D8D8 !important;
}
.newCardsColor3 {
    background: #F5F5F5 !important;
}
.newCardsColor4 {
    background: #F9F9F9 !important;
}