/* Enter your custom styles here */
/*
.sapMGT {
    display: inline-block;
    border-radius: 0.25rem;
    position: relative;
    outline: none;
    box-sizing: border-box;
    background-position: 0;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    vertical-align: top;
    background-color: aliceblue;
} */

.detailsCard{
	border-radius: 1rem;
    border: 1px solid #f0f8ff;	
}

/*card background styling*/
.newSelfCardsColor {
    background: #f0f8ff !important;
}
.newDffCardsColor {
    background: #f0f8ff !important;
}
.savedOrderCardsColor {
    background: #f0f8ff !important;
}